<h2 *ngIf="!inbox">messages from all your inboxes

  <button mat-stroked-button (click)="reloadAllMessages()" [disabled]="workingInbox" [class.spinner]="workingInbox">
    Reload
    <mat-icon>refresh</mat-icon>
  </button>

  <button routerLink="/monitor" *ngIf="showNotificationButton" mat-stroked-button >enable system notifications</button>
</h2>

<h2 *ngIf="inbox">messages from inbox "<a href="{{inbox.url}}" target="_blank">{{inbox.name}}</a>"

  <button mat-stroked-button (click)="readInbox(inbox)" [disabled]="workingInbox" [class.spinner]="workingInbox">
    Reload
    <mat-icon>refresh</mat-icon>
  </button>

  <button routerLink="/monitor" *ngIf="showNotificationButton" mat-stroked-button >enable system notifications</button>
</h2>


<p *ngIf="(!messages || messages?.length === 0) && !workingInbox">(no messages available)</p>

<table mat-table *ngIf="messages?.length > 0" [dataSource]="messages" multiTemplateDataRows>
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let message"> {{message.created | date:'yyyy-MM-dd, HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="inbox">
    <th mat-header-cell *matHeaderCellDef>Inbox</th>
    <td mat-cell *matCellDef="let message">
      <a mat-raised-button [routerLink]="['/incoming/', message.inbox.url]" class="inbox-badge" [style]="message.inbox.style">
        {{message.inbox.name}}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="actor">
    <th mat-header-cell *matHeaderCellDef>From</th>
    <td mat-cell *matCellDef="let message" [class.muted]="!message.actor || !message?.actor?.name">
      {{message.actor ? (message.actor.name | async) : '(unknown)'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef>Subject</th>
    <td mat-cell *matCellDef="let message" [class.muted]="!message.name">
      {{message.name ? ((message.name | slice:0:50) + (message.name?.length > 50 ? '...' : '')) : '(no subject)'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef>Content</th>
    <td mat-cell *matCellDef="let message">
      {{(message.content | slice:0:50) + (message.content?.length > 50 ? '...' : '')}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      [routerLink]="['/incoming/', element.inbox.url, element.url]"
      class="element-row">
  </tr>
</table>
