.message {
  border: 1px solid #d6d6d6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #efefef;
  border-bottom: 1px solid #d6d6d6;
  padding: 0.5em 2em;
  height: 3em;
}

.content-wrapper {
  background-color: white;
  margin: 0;
}

.content {
  padding: 2em;
}

.key {
  width: 5em;
  text-align: right;
  margin-right: 1em;
}

button:hover {
  background-color: rgba(0, 0, 0, .04);
}

pre {
  white-space: pre-wrap;
  word-break: keep-all
}

mat-expansion-panel {
  border-top: 1px solid #d6d6d6;
}
.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}
