.message {
  border: 1px solid #d6d6d6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #efefef;
  border-bottom: 1px solid #d6d6d6;
  padding: 0.5em 2em;
  height: 3em;
}

.content {
  padding: 2em;
  background-color: white;
  margin: 0;
}

.key {
  width: 5em;
  text-align: right;
  margin-right: 1em;
}
