<h2>
  <button mat-icon-button aria-label="Go back" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  message detail:
  <a href="{{message?.url}}" target="_blank" title="Message URL">{{message?.url}}</a>
</h2>
<mat-spinner *ngIf="spinner"></mat-spinner>

<div class="message" *ngIf="!spinner">
  <div class="header">
    <strong *ngIf="jsonFields?.actor">From: {{jsonFields.actor}}</strong>
    <span><a mat-raised-button [routerLink]="['/incoming/', inbox?.url]" [style]="inbox?.style">{{inbox?.name}}</a></span>
    <span class="date" title="Received">{{message?.created | date:'yyyy-MM-dd, HH:mm'}}</span>
    <span *ngIf="jsonFields?.actor"><button mat-icon-button aria-label="Reply" title="Reply" (click)="reply()"><mat-icon>reply</mat-icon></button></span>
  </div>

  <!--  simple message  -->
  <div *ngIf="!jsonFields" class="content-wrapper">
    <div class="content">
<pre>{{message?.content}}</pre>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Message type</mat-panel-title>
          <mat-panel-description>Type: {{message?.type}}</mat-panel-description>
        </mat-expansion-panel-header>
        <p>This message was send in a simple (or unsupported) format and does not support fields like sender, action "reply to" and others.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <!--  json content  -->
  <div *ngIf="jsonFields" class="content-wrapper">
    <div class="content">
      <h2 *ngIf="jsonFields?.name">{{jsonFields.name}}</h2>

      <ng-template [ngIf]="jsonFields?.object?.content">
<pre>{{jsonFields.object.content | json}}</pre>
      </ng-template>

      <ng-template [ngIf]="jsonFields?.content">
<pre>{{jsonFields.content | json}}</pre>
      </ng-template>
    </div>

    <mat-accordion *ngIf="jsonFields">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Message details
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!--  list of json fields  -->
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let field of jsonFields | keyvalue; last as last">
            <span class="key">{{field.key}}:</span><span class="value">{{field.value | json}}</span>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
