<div class="content-spacer">
  <h1>Inbox</h1>
  <mat-spinner *ngIf="spinner"></mat-spinner>

  <div *ngIf="!spinner">
    <p>Welcome to inbox! Start by logging in to your pod.</p>
    <mat-form-field appearance="fill">
      <mat-label>Select ID provider (OIDC issuer)</mat-label>
      <input type="text"
             placeholder="Pick one or input yours"
             aria-label="OIDC issuer"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" id="btnLogin" (click)="login()" [disabled]="!myControl.value">Login</button>
  </div>
</div>
