<div class="content">
  <h1>Inbox</h1>
  <mat-spinner *ngIf="spinner"></mat-spinner>

  <div *ngIf="!spinner">
    <p>Welcome to inbox! Start by logging in to your pod.</p>

    <label id="radio-group-label">Specify OIDC issuer (where you want to log in):</label>
    <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="selectedOidcIssuer">
      <mat-radio-button class="radio-button" *ngFor="let oidcIssuer of oidcIssuers" [value]="oidcIssuer.url">
        {{oidcIssuer.name}}
      </mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button color="primary" id="btnLogin" (click)="login()">Login</button>
  </div>
</div>
