mat-form-field {
  width: 30em;
}

.content-spacer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.login {
  margin: 0 4em 0 0;
  width: 30em;
  padding: 2em;
}

.info {
  font-size: 1.5em;
  font-weight: lighter;
  margin: 1em 0 0 0;
  line-height: 1.5em;
  width: 20em;
}
