<h1>Inrupt</h1>
<section id="login" class="panel">
  <div class="row" *ngIf="inruptService.session.info.isLoggedIn; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    You are logged in!
    <button mat-raised-button color="accent" (click)="logout()">Logout</button>
  </ng-template>
  <ng-template #elseBlock>
    <label id="labelLogin" for="btnLogin">Start by logging in:</label><br>
    <button mat-raised-button color="primary" id="btnLogin" (click)="login()">Login</button>
  </ng-template>
</section>

<button *ngIf="inruptService.session.info.isLoggedIn" mat-raised-button color="primary" (click)="readInbox()"
        [disabled]="working" [class.spinner]="working">Read inbox
</button>

<div *ngIf="messages">
  <h2>inbox detail: <em>{{inboxUrl}}</em></h2>
  <ul>
    <li *ngFor="let message of messages">{{message.url}}</li>
  </ul>
</div>
