<h1>Inrupt/Solid</h1>
<mat-spinner *ngIf="spinner"></mat-spinner>
<section id="login" class="panel" *ngIf="!spinner">
  <div class="row" *ngIf="inruptService.session.info.isLoggedIn; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    User logged in: <strong>{{name}}</strong> (<a href="{{webId}}" title="Go to user card">{{webId}}</a>)

    <button mat-raised-button (click)="logout()" class="logout">Logout</button>
  </ng-template>
  <ng-template #elseBlock>
    Start by logging in.
    <label id="radio-group-label">Specify OIDC issuer (where you want to log in):</label>
    <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="selectedOidcIssuer">
      <mat-radio-button class="radio-button" *ngFor="let oidcIssuer of oidcIssuers" [value]="oidcIssuer.url">
        {{oidcIssuer.name}}
      </mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button color="primary" id="btnLogin" (click)="login()">Login</button>
  </ng-template>
</section>

<div *ngIf="inruptService.session.info.isLoggedIn" class="box">
  <h2>inbox messages: <em>{{inboxUrl}}</em></h2>

  <button mat-stroked-button (click)="readInbox()" [disabled]="workingInbox" [class.spinner]="workingInbox">
    Reload <mat-icon>refresh</mat-icon>
  </button>

  <p *ngIf="(!messages || messages?.length === 0) && !workingInbox">(no messages available)</p>

  <table mat-table *ngIf="messages?.length > 0" [dataSource]="messages" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let message"> {{message.created | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef="let message">{{message.url}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Message Type</th>
      <td mat-cell *matCellDef="let message">{{message.type}}</td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
<pre class="element-content">{{element.content}}</pre>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
</div>

<div *ngIf="friends" class="box">
  <h2>profile friends</h2>

  <button mat-stroked-button (click)="readFriends()" [disabled]="workingFriends" [class.spinner]="workingFriends">
    Reload <mat-icon>refresh</mat-icon>
  </button>

  <ul *ngFor="let friend of friends">
    <li>{{friend}}</li>
  </ul>
</div>
