<mat-toolbar>
  <a id="home" mat-button href="/">inbox</a>

  <nav>
    <a mat-button routerLink="/login" routerLinkActive="active" *ngIf="!userLoggedIn">Login</a>
    <a mat-button routerLink="/incoming" routerLinkActive="active" *ngIf="userLoggedIn">Incoming</a>
    <a mat-button routerLink="/send" routerLinkActive="active" *ngIf="userLoggedIn">Send message</a>
    <a mat-button routerLink="/monitor" routerLinkActive="active">Notifications</a>
    <a mat-button routerLink="/pleroma" routerLinkActive="active">Pleroma</a>
    <a mat-button routerLink="/about" routerLinkActive="active">About</a>
  </nav>

  <span class="spacer"></span>
  <div class="userInfo" *ngIf="userLoggedIn">
    <img src="assets/images/avatar.png" alt="Profile picture" class="rounded">
    <a href="{{webId}}" title="Go to profile" target="_blank">{{username}}</a>
    <button mat-stroked-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
