#home {
  font-size: 1.2em;
}

nav {
  margin-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.active {
  background-color: #d6d6d6;
}

/* user info */
.userInfo {
  font-size: 0.7em;
}
.userInfo button {
  margin-left: 1em;
}
img.rounded {
  margin-right: 1em;
  object-fit: cover;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  vertical-align: bottom;
}
