#home {
  font-size: 1.2em;
}

nav {
  width: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.active {
  background-color: #d6d6d6;
}

/* user info */
.userInfo {
  font-size: 0.7em;
  margin-left: 3em;
  border-left: 1px solid #d6d6d6;
}
.userInfo button {
  margin-left: 1em;
}
img.rounded {
  margin-left: 3em;
  margin-right: 1em;
  object-fit: cover;
  border-radius: 50%;
  height: 2.7em;
  width: 2.7em;
  vertical-align: bottom;
}
