<mat-form-field class="chip-list" appearance="fill" [class.mat-form-field-invalid]="errors?.length > 0">
  <mat-label>Select recipients</mat-label>
  <mat-chip-list #chipList aria-label="Recipients selection">
    <mat-chip
      *ngFor="let recipient of recipients"
      selectable="true"
      removable="true"
      (removed)="remove(recipient)">
      {{recipient.contact.name | async}}: {{recipient.url}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-spinner *ngIf="spinner" matPrefix [diameter]="20"></mat-spinner>
    <input
      matInput
      placeholder="Type in recipient and hit ENTER..."
      #recipientInput
      [value]="inputValue"
      [formControl]="formControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
    <mat-error *ngFor="let error of errors"><strong>{{error}}</strong></mat-error>
  </mat-chip-list>
  <mat-hint *ngFor="let hint of hints" align="start">{{hint}}</mat-hint>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let contact of filteredContacts | async" [value]="contact">
      {{contact.contact.name | async}}: {{contact.url}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<a mat-icon-button href="http://xmlns.com/foaf/spec/#term_knows" target="_blank" class="info-link"
   matTooltip="Search your contacts from your profile (foaf:knows),
    input profile webId for discovery or input known inbox IRI directly.
    Click the icon to learn more (foaf:knows property specification)."
   matTooltipClass="info-tooltip"
   aria-label="Info about contacts">
  <mat-icon>info</mat-icon>
</a>
