<mat-form-field class="chip-list" appearance="fill">
  <mat-label>Select recipients</mat-label>
  <mat-chip-list #chipList aria-label="Recipients selection">
    <mat-chip
      *ngFor="let recipient of recipients"
      selectable="true"
      removable="true"
      (removed)="remove(recipient)">
      {{recipient}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Type in recipient..."
      #recipientInput
      [formControl]="formControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
    <mat-error *ngFor="let error of errors">{{error}}</mat-error>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let contact of filteredContacts | async" [value]="contact">
      {{contact}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
