<div class="content-spacer">
  <h1>Send message
    <span *ngIf="replyTo?.url">- replying to
      <a [routerLink]="['/incoming/', replyTo.inboxUrl, replyTo.url]" title="Back to message">{{replyTo.name? replyTo.name : replyTo.url}}</a>
    </span>
  </h1>
  <app-recipients-picker [replyTo]="replyTo"></app-recipients-picker>

  <mat-form-field appearance="fill">
    <mat-label>Message content</mat-label>
    <textarea matInput [(ngModel)]="messageContent"
              placeholder="Hello, you have to try this awesome app!..."></textarea>
  </mat-form-field>
  <mat-error>{{messageError}}</mat-error>

  <button mat-raised-button color="primary" type="submit" (click)="send()">Send</button>
</div>
