<mat-sidenav-container autosize>
  <mat-sidenav opened disableClose mode="side">
    <mat-nav-list>
      <div mat-subheader>Select inbox:</div>
      <a mat-list-item routerLink='/incoming' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>expand_more</mat-icon><mat-icon class="inbox-icon">all_inbox</mat-icon>All inboxes
      </a>
      <a *ngFor="let inbox of inboxes" mat-list-item [routerLink]="['/incoming/', inbox.url]" routerLinkActive='active'
      class="nested-inbox">
        <mat-icon class="inbox-icon">inbox</mat-icon>{{inbox.name}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
