mat-sidenav-container {
  min-height: 100%;
}

mat-sidenav-content {
  padding: 2em;
}

mat-sidenav {
  padding: 0;
  min-width: 15em;
  overflow-x: visible;
}

.active {
  background: rgba(0,0,0,.04);
}

.inbox-icon {
  margin-right: 0.3em;
}

.nested-inbox .inbox-icon{
  margin-left: 2em;
}
