<div class="content-spacer">
  <h1>Notifications</h1>
  <p>
    Here you can setup system notifications.
    You will get a system notification when you receive a message to any of your inboxes.
  </p>

  <p [ngSwitch]="notificationPermission">
    <strong *ngSwitchCase="'denied'">You have denied the notifications. Enable them in your browser settings.</strong>
    <strong *ngSwitchCase="'granted'">You have enabled the notifications.</strong> Disable them in your browser settings.
    <strong *ngSwitchCase="'default'">You have not enabled the notifications yet.</strong>
  </p>


  <p *ngIf="notificationsSystemSupports; else elseBlock">
    Your system <strong>does</strong> support system notifications. Enable them by clicking on the button:
  </p>
  <ng-template #elseBlock>Unfortunately, your system does not support system notifications.</ng-template>

  <button mat-raised-button color="accent" (click)="enableSystemNotification()"
          [disabled]="!notificationsSystemSupports || (notificationPermission === 'denied') || (notificationPermission === 'granted')">
    Enable system notification
  </button>

  <button *ngIf="notificationPermission === 'granted'" mat-raised-button color="accent" (click)="testNotification()"
          [disabled]="!notificationsSystemSupports || (notificationPermission === 'denied') || (notificationPermission === 'default')">
    Test system notification
  </button>
</div>
