/* table */
table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:hover {
  cursor: pointer;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-content {
  padding: 16px;
}
