<div class="content-spacer">
  <h1>About inbox</h1>
  <p>
    Inbox is an in-browser application built using
    <a href="https://angular.io/" title="Official Angular website" target="_blank">Angular framework</a>.
    It uses <a href="https://solidcommunity.net/" target="_blank" title="Solid Community server">Solid server</a>
    (and its <a href="https://inrupt.net/" target="_blank">Inrupt</a> version) for data.
    The application's purpose is to show use of Solid technology in a user-friendly messaging application.
    It uses
    <a href="https://www.w3.org/TR/ldn/" title="Linked Data Notifications specification" target="_blank">
      Linked Data Notifications</a> and
    <a href="https://www.w3.org/TR/activitypub/" title="ActivityPub specification" target="_blank">ActivityPub</a>
    protocols for message exchange.
    Application takes advantage of
    <a href="https://www.w3.org/TR/activitystreams-core/" title="Activity Streams 2.0 specification" target="_blank">
      Activity Streams</a> as message data format.
  </p>
  <p>
    Application was built as a diploma thesis for
    <a href="https://fit.cvut.cz/" title="Official FIT CTU website" target="_blank">FIT CTU</a>.
    Sources are available at
    <a href="https://github.com/WhyINeedToFillUsername/inbox" title="Application sources - GitHub repository"
       target="_blank">GitHub</a>.
  </p>
</div>
