<div class="content-spacer">
  <app-send-tab-nav></app-send-tab-nav>
  <h1>Send ActivityPub message
    <a href="https://www.w3.org/TR/activitypub/" target="_blank" mat-icon-button
       matTooltip="ActivityPub is a protocol for decentralized social networks. It is a W3C recommendation
             which can be extended to create all kinds of federated apps. Click on the icon to learn more."
       matTooltipClass="info-tooltip"
       aria-label="Info about ActivityPub"
       class="info-link">
      <mat-icon>info</mat-icon>
    </a>
  </h1>

  <h2 *ngIf="replyTo?.inReplyTo">
    <a [routerLink]="['/incoming/', replyTo.replyToMessageInboxUrl, replyTo.inReplyTo]" title="Go back to message"
       mat-icon-button aria-label="Go back">
      <mat-icon>arrow_back</mat-icon>
    </a>
    Replying to
    <a [routerLink]="['/incoming/', replyTo.replyToMessageInboxUrl, replyTo.inReplyTo]" title="Show message">
      {{replyTo.name ? replyTo.name : replyTo.inReplyTo}}
    </a>
  </h2>

  <app-recipients-picker [replyTo]="replyTo"></app-recipients-picker>

  <mat-form-field appearance="fill">
    <mat-label>Subject</mat-label>
    <input matInput [(ngModel)]="subject">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Message content</mat-label>
    <textarea matInput [(ngModel)]="messageContent"
              placeholder="Hello, you have to try this awesome app!..."></textarea>
  </mat-form-field>
  <mat-error>{{messageError}}</mat-error>

  <button mat-raised-button color="primary" type="submit" (click)="send()">Send</button>
</div>
